@import url("pico.css");
@import url("fontawesome-all.min.css");

div {
  text-align: center;
  justify-content: center;
}

.main-text {
  align-items: center;
}

.image-center {
  width: 256px;
  height: 256px;
  justify-content: space-between;
  align-items: center;
}

.list-item {
  display: flex;
  width: 100%;
  line-height: 0.5rem;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.divider {
  width: 2.5px;
  height: auto;
  display: inline-block;
}
